.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #ffffff; 
    border-top-color: transparent; 
    border-radius: 9999px;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}