.contenthour {
    display: flex;
    height: 2rem; 
    margin-top: 0.3rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.20rem;
    border: 1px var(--color-border-subtle) solid;
    border-radius: 0.5rem;
    background-color: var(--color-border-subtle);
    font-size: 0.8rem;
}

.img {
    width: 2rem;
}

.img_and_hour {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
