.contenthour {
    display: flex;
    height: 2.2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.61rem;
    border: 1px var(--color-border-hourly-forecast-list) solid;
    border-radius: 0.3em;
    background-color: var(--color-hourly-forecast-list);
    font-size: 0.8rem;
}

.img {
    width: 2rem;
    margin-right: 0.5rem;
}

.hour_text {
    margin: 0;
}

.img_and_hour {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .contenthour {
        height: 3rem;
    }

    .img {
        width: 2.6rem;
    }
}
