.WeatherCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.contentmain {
    display: flex;
    width: auto;
    height: 10rem;
    border-radius: 0.5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("/src/assets/images/bg-today-small.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.city {
    font-size: 1.4rem;
    margin: 0.4rem;

}

.date {
    font-size: 0.8rem;
    margin: 0.4rem;
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maintemp {
    margin: 0;
    font-size: 3.50rem;
    font-family: "DMSans-Italic";
}

.boxweather {
    width: 7rem;
    height: 5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: 1px var(--color-border-subtle) solid;
    background-color: var(--color-background-secondary);
}

.title {
    font-size: small;
}

.infotime {
    font-size: 1.4rem;
    margin: 0;
}

@media (max-width: 450px) {
    .WeatherCard {
        display: flex;
    }

    .contentmain {
        width: 90vw;
        height: 40vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more {
        width: 90vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}