.cardDailyForecast {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.daily {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 8rem;
    border: 1px var(--color-border-subtle) solid;
    background-color: var(--color-background-secondary);
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
}

.temp {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.img {
    width: 3rem;
    height: auto;
}