.cardDailyForecast {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}

.daily {
    display: flex;
    flex-direction: column;
    width: 4.5rem;
    height: 6.4rem;
    border: 1px var(--color-border-subtle) solid;
    background-color: var(--color-background-secondary);
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
}

.description {
    margin: 0.3rem;
}

.temp {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.img {
    width: 2.5rem;
    height: auto;
}

@media (max-width: 450px) {
    .cardDailyForecast {
        margin: 0.2rem;
    }

    .daily {
        width: 5rem;
        height: 7rem;
        padding: 0.78rem;
        font-size: 1rem;
    }

    .img {
        width: 3rem;
    }


}