main {
  max-width: 200rem;
  margin: auto;
  margin: auto;
}

.notfound {
  text-align: center;
}

.card_weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dailyForecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitles_daily {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.subtitles_hourly {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0;
}

.dailyrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border_hourlyforecast {
  padding: 1rem;
}

.card_weather_and_daily {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 35rem;
}

.hourlyforecast {
  width: 14rem;
  height: 24.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.65rem;
  background-color: var(--color-background-secondary);
}

@media (max-width: 450px) {
  main {
    display: flex;
    width: 90vw;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
  }

  .card_weather {
    display: flex;
    flex-direction: column;
  }

  .card_weather_and_daily {
    width: 100%;       
    max-width: 90vw;   
    margin: 0 auto;
  }

  .dailyForecast {
    display: flex;
    width: 90vw;
    margin: auto;
  }

  .subtitles_daily {
    font-size: 1rem;
  }

  .dailyrow {
    display: flex;
    width: 90vw;
    gap: 1rem;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .hourlyforecast {
    width: 85vw;
    margin: auto;
    height: 30rem;
  }

  .subtitles_hourly {
    font-size: 1rem;
  }
}